@font-face {
  font-family: Gill Sans;
  src: url(../css/fonts/GillSans.ttc);
}
@font-face {
  font-family: Nova;
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Nova-Thin;
  src: url(../css/fonts/Proxima-Nova-Thin.otf);
}
