footer {
  width: 100%;
  height: $nav-footer-height;
  background-color: $site-blue;
  margin: 0 auto;

  .footer-content {
    max-width: $content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .footer-logo {
      width: 92px;
      height: 42px;
      background-image: url(../images/logo/logo-white.png);
    }

    .footer-text {
      color: white;
      font-size: 18px;
      font-family: Gill Sans;
      text-align: center;
    }

    .footericons {
      width: 110px;
      height: 22px;
      background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        color: white;
        font-size: 25px;
      }
    }
  }
}
