nav {
  max-width: $content-width;
  margin: 0 auto;
  min-height: $nav-footer-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: Gill Sans;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .vl {
    border-left: 1px solid $site-blue;
    height: 21px;
  }
}

hr {
  width: $content-width;
  border: 2px solid;
  margin: 0 auto;
}
