.about {
  margin-top: 110px;
  margin-bottom: 180px;

  .about-header {
    position: relative;

    h1 {
      font-size: 60px;
      margin-bottom: 5px;
      font-family: Nova;
      font-weight: thin;
    }
    hr {
      width: 171px;
      border: 2px solid;
      margin-top: -10px;
      position: absolute;
      left: 0;
    }

    p {
      margin-top: 20px;
      font-family: Gill Sans;
      font-size: 16pxs;
    }
  }

  .about-client-quotes {
    margin-top: 107px;
    position: relative;

    .client-quote-title {
      font-size: 40px;
      font-family: Nova;
      font-weight: 100;
    }

    hr {
      width: 255px;
      border: 2px solid;
      margin-top: -20px;
      position: absolute;
      left: 0;
    }

    .client-box {
      max-width: 722px;
      // background-color: antiquewhite;
      display: flex;
      position: relative;
      margin-bottom: 37px;

      .client-image {
        height: 150px;
        width: 260px;
        // background-color: aqua;
        overflow: hidden;
        margin-right: 21px;

        img {
          width: 100%;
        }
      }

      .client-quote {
        width: 440px;
        // background-color: pink;
        margin-bottom: 20px;
        font-family: Gill Sans;
        font-size: 16px;
        font-style: italic;
      }

      .client-name {
        // background-color: purple;
        position: absolute;
        bottom: 0;
        right: 0;
        color: $site-blue;
        font-family: Nova;
        font-size: 20px;
        font-weight: thin;
      }
    }
  }
}
