.about-promo {
  max-width: $content-width;
  min-height: 304px;
  background-color: aqua;

  .promo {
    @include promo();

    .promo-text {
      font-size: 25px;
      font-family: gill sans;
    }
    .read-button {
      @include site-button(0 20px);
    }
  }
}
