.about-promo {
  max-width: $content-width;
  min-height: 304px;
  background-color: aqua;

  .promo {
    @include promo;

    height: 304px;
    width: 235px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .promo-text {
    }
    .read-button {
      background-color: $site-blue;
      padding: 5px 15px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
  }
}
